fastapi
uvicorn
smartapi-python
pyotp
python-dotenv
# transformers
# torch
logzero
websocket-client
rapidfuzz
# pandas
redis
ijson
google-genai
pymongo[srv]

# Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope Process

# status:"success"

# docker build -t lite-fastapi-app .
# docker run -d -p 5000:5000 lite-fastapi-app


# docker hub
#  - docker login
# - docker images
# 	REPOSITORY       TAG       IMAGE ID       CREATED          SIZE
# 	my-fastapi-app   latest    107ff6c24e99   14 minutes ago   12GB

# - docker tag lite-fastapi-app javeddocker98/lite-fastapi-app:latest
# - docker push javeddocker98/lite-fastapi-app:latest

# image link  -- docker.io/javeddocker98/my-fastapi-app:latest

# r/javeddocker98/lite-fastapi-app

# AIzaSyBo2hVplFeqBWX_92hBTF5TwukVOXcD6oQ -- geminm



# {
#   "mappings": {
#     "dynamic": false,
#     "fields": {
#       "company_name": {
#         "analyzer": "my_autocomplete",
#         "type": "string"
#       },
#       "symbol": {
#         "analyzer": "my_autocomplete",
#         "type": "string"
#       }
#     }
#   },
#   "analyzers": [
#     {
#       "charFilters": [],
#       "name": "my_autocomplete",
#       "tokenFilters": [
#         {
#           "type": "lowercase"
#         }
#       ],
#       "tokenizer": {
#         "maxGram": 20,
#         "minGram": 2,
#         "type": "edgeGram"
#       }
#     }
#   ]
# }