fastapi
uvicorn
smartapi-python
pyotp
python-dotenv
# transformers
# torch
logzero
websocket-client
rapidfuzz
# pandas
redis
ijson
google-genai


# cancel all orders, sell or empty my portfolio -- prompt needs to be handled

Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope Process


docker build -t my-fastapi-app .
docker run -d -p 5000:5000 my-fastapi-app


# docker hub
#  - docker login
# - docker images
# 	REPOSITORY       TAG       IMAGE ID       CREATED          SIZE
# 	my-fastapi-app   latest    107ff6c24e99   14 minutes ago   12GB

# - docker tag my-fastapi-app javeddocker98/my-fastapi-app:latest
# - docker push javeddocker98/my-fastapi-app:latest

# image link  -- docker.io/javeddocker98/my-fastapi-app:latest


# Eskapass@123

# imreignsroman98@gmail.com
# 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

# AIzaSyBo2hVplFeqBWX_92hBTF5TwukVOXcD6oQ -- geminm

# (item.text.contains('EDIS') || item.text.contains('authorised')
#                 Please setup your TPIN first from your Broker App or else try to sell one share from your 

